<ion-tabs class="tabs-icon-top tabs-default">


    <ion-tab title="Home" icon="icon ion-home" ui-sref="tab.recipe">
        <ion-nav-view name="recipe"></ion-nav-view>
    </ion-tab>


    <ion-tab title="Latest" icon="icon ion-plus" ui-sref="tab.latest">
        <ion-nav-view name="latest"></ion-nav-view>
    </ion-tab>


    <ion-tab title="Highest Rated" icon="icon ion-star" ui-sref="tab.votes">
        <ion-nav-view name="votes"></ion-nav-view>
    </ion-tab>


    <ion-tab title="Most Commented" icon="icon ion-chatbox-working" ui-sref="tab.commented">
        <ion-nav-view name="commented"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Add" icon="icon ion-chatbox-working" ui-sref="tab.addrecipe">
        <ion-nav-view name="addrecipe"></ion-nav-view>
    </ion-tab>


</ion-tabs>
